<h1>Editing Eng Word Translation</h1>

<%= render 'form', eng_word_translation: @eng_word_translation %>

<%= link_to 'Show', @eng_word_translation %> |
<%= link_to 'Back', eng_word_translations_path %>
