<div class="table-responsive">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Word</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <% @eng_words.each do |eng_word| %>
        <%= if eng_word.eng_word_translations.count == 0 %>
          <tr>
            <td><%= eng_word.word %></td>
          </tr>
          <tr>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
